# Godot 4+ specific ignores
.godot/
/android/

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
.mono/
data_*/
*.translation

# Rider ignores
.idea

# General
.DS_Store

Flappy_Bird.sln.DotSettings.user 
